<mat-card class="card-moto">
  <button mat-flat-button>Vendido</button>
  <mat-icon>motorcycle</mat-icon>
  <h1 class="fabricante-moto">Suzuki</h1>
  <h2 class="modelo-moto">Intruder 125</h2>
  <p class="placa-moto">OBV-1A34</p>
  <button mat-flat-button>Remover</button>
</mat-card>
<form id="adicionar">
  <mat-form-field>
    <mat-label>Fabricante</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modelo</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Placa</mat-label>
    <input matInput />
  </mat-form-field>
  <button mat-flat-button>Adicionar</button>
</form>
